body {
    font-size: larger;
    text-align: justify;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

iframe, embed, object {
    width: 100%;
    max-width: 600px;
    height: 400px;
}

div.notes {
    font-size: 80%;
}

div.notes::after {
    content: "---";
}

div.notes::before {
    content: "--- Notas";
}